<form id='movie-input' action='/games'>
  <label for='movie'>What do you want to watch? </label>
  <input id='movie-input-field' type='text' name='movie'>
  <input type='submit' value='submit'>
</form>
