<div class="container">
	<form class="submit-form" id='movie-input' action='/games'>
	  <label for='movie'>What do you want to watch? </label>
	  <input id='movie-input-field' type='text' name='movie'>
	  <input type='submit' value='submit'>
	</form>
</div>
<div class='container'>
	<ul id='list'>
	</ul>
</div>
