<div class="container">
  <form id="nav-bar">
    <ul>
      <li class="nav-link"><button><a href="/">Home</a></button></li>

      <% if @user %>

        <li class="nav-link"><button><a href="/sessions/log_out">Log Out</a></button></li>

      <% else %>

        <li class="nav-link"><button><a href="/sessions/new">Sign In</a></button></li>
        <li class="nav-link"><button><a href="/users/new">Sign Up</a></button></li>

      <% end %>

    </ul>
  </form>
</div>
