<div class="container">
  <form id="nav-bar">
    <ul>
      <li class="nav-link"><button>Home</button></li>
      <li class="nav-link"><button>Sign In</button></li>
      <li class="nav-link"><button>Sign Up</button></li>
      <li class="nav-link"><button>Log Out</button></li>
    </ul>
  </form>

</div>
